body {
	margin:0;
	padding:0;
	background-image:url('../images/bg.png');
	background-repeat:repeat;
	font-size:12px;
	color:#666666;
	font-family:Verdana;
}
.clear { clear:both; }
.fld-left { float:left; width:300px; }
.fld-right { float:left; text-align:left; }
.searchkey {
	padding:10px; 
}
.autoscroll { height:200px; overflow:scroll; border:solid 1px #cccccc;}
a { text-decoration:none; }

button, input[type="button"], input[type="submit"], input[type="reset"] {
	border:solid 1px #5a799b;
	padding:3px 10px 3px 10px;
	border-radius:4px;
	background: #7899bc;
	background: -moz-linear-gradient(top,  #7899bc 1%, #51779f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#7899bc), color-stop(100%,#51779f));
	background: -webkit-linear-gradient(top,  #7899bc 1%,#51779f 100%);
	background: -o-linear-gradient(top,  #7899bc 1%,#51779f 100%);
	background: -ms-linear-gradient(top,  #7899bc 1%,#51779f 100%);
	background: linear-gradient(to bottom,  #7899bc 1%,#51779f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7899bc', endColorstr='#51779f',GradientType=0 );
	font-size:11px;
	color:#ffffff;
	cursor:pointer;
}

fieldset { border:dotted 1px #cccccc; margin:10px 10px 20px 10px; padding:10px; }
legend { color:#000000; font-size:11px; font-weight:bold; border:dotted 1px #cccccc; padding:5px 10px 5px 10px; border-radius:6px;}

form { margin:0; padding:0; }

.search-input { padding:4px 5px 4px 5px; font-size:12px; color:#666666; border:solid 1px #dae1e8;}
.search-select { padding:3px 5px 3px 5px; font-size:12px; color:#666666;border:solid 1px #dae1e8;}
.input-form { padding:5px; font-size:12px; color:#666666;border:solid 1px #c4c9ce; width:98%;}
.input-select { padding:5px; font-size:12px; color:#666666;border:solid 1px #c4c9ce; }

#container { margin:0; padding:0; }
#header { background-image:url('../images/bg-top.png'); background-repeat: repeat-x; height:40px; box-shadow:2px 0 5px #000; margin-bottom:5px; position:relative; z-index:999;}

.header-left { float:left; width:400px; padding:4px 0 0 10px;}
.header-right { float:right; width:auto; padding:12px 80px 0 0; color:#ffffff;}
.header-right a { color:#ffffff; text-decoration:none; }
.header-right a:hover { color:#cccccc; text-decoration:none; }

.hr1 { float:left; width:15px; margin-right:5px;}
.hr2 { float:left; width:50px; margin-right:20px;}
.hr3 { float:left; width:15px; margin-right:5px;}
.hr4 { float:left; width:50px; }
#content { margin:0; padding:0; position:relative; z-index:1; margin-top:-5px;}
.content-left { float:left; width:21%; }
.content-right { float:right; width:79%; }

.cl-top { padding:5px; height:auto;}
.clt-left { border:dotted 1px #ccc; padding:3px; width:32px; margin-right:4px; float:left;}
.clt-right { padding:3px; float:right; width: 79%; font-size:11px;}
.clt-right h4 { padding:0; margin:0; font-size:12px; color:#2b588d; }
.cl-bottom { background-color:#e9edf1; color:#2b587a; border-top:solid 1px #dae1e8; border-right:solid 1px #dae1e8; border-left:solid 1px #dae1e8;}
.cl-chart { background:none; margin-top:10px; }

.cr-top { background-color:#e9edf1; color:#8b8ba0; padding:5px; height:42px; border:solid 1px #dae1e8;}
.cr-top h4 { padding:0; margin:0; font-size:12px; color:#2b588d; }
.cr-top .breadcrumb { font-size:11px; margin-top:10px; color:#666; text-shadow:1px 0 1px #dddddd;}
.cr-top .breadcrumb a { color:#999; text-decoration:none; }
.cr-top .breadcrumb a:hover { color:#2b588d; text-decoration:none; }
.crt-left { float:left; }
.crt-right { float:right; font-size:11px; padding:7px 10px 0 0;}

.cr-bottom { padding:10px; margin:0; }
.crb-box {  margin-bottom:10px; border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#ffffff;}

.crb-boxSmall { margin-bottom:10px; border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#ffffff; float:left; width:60%; margin-bottom:10px;}
.crb-boxSmall2 { margin-bottom:10px; border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#ffffff; float:right; width:38.6%; margin:0 0 0 0; margin-bottom:10px;}
.crb-boxSmall3 { margin-bottom:10px; border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#ffffff; width:100%; margin:0 0 0 0; margin-bottom:10px;}

.bbox-head { background-color:#f0f1f2; border-bottom:solid 1px #dae1e8; font-size:11px; font-weight:bold; color:#2b588d;}
.bbxh-left { float:left; padding:13px 0 10px 10px; }
.bbxh-right { float:right; }
.bbxhr-toogle { float:left; border-left:solid 1px #dae1e8; padding:15px;}
.bbxhr-close { float:right; border-left:solid 1px #dae1e8; padding:15px;}
.bbox-cont { margin:0; padding:0; }
.bbox-form { padding:20px; }
.bbox-cont table { font-size:12px; width:100%;}
.bbox-cont th { background-color:#f0f1f2; padding:5px; font-size:10px; border-bottom:solid 1px #dae1e8; border-right:solid 1px #dae1e8; }
.bbox-cont th.lastTH { border-right:0; }
.bbox-cont td { padding:10px; font-size:11px; border-bottom:solid 1px #dae1e8; border-right:solid 1px #dae1e8; }
.bbox-cont td.lastTD { border-right:0; }
.bbox-cont a { color:#2b588d; }
.bbox-cont a:hover { color:#cccccc; }
.bbox-bottom { background-color:#f0f1f2; padding:5px; text-align:right; min-height:24px; }
.bb-pagination { float:left; padding:5px 0 0 10px; font-size:11px;}
.bb-pagination ul { margin:0; padding:0; list-style:none; }
.bb-pagination ul li { display:inline;  }
.bb-button { float:right; }

.bbox-info { margin:0; padding:20px; font-size:11px;}
.bbi-items { margin:0; padding:5px 0 5px 0; }
.bbii-left { float:left; width:82%; text-align:right; margin-right:10px;}
.bbii-right { float:right; text-align:right; }
.bb-pagination span { 
	padding:5px; color:#999999; 
	border:solid 1px #cccccc;
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;
}
.bb-pagination a { padding:5px; color:#2b588d; 
	border:solid 1px #2b588d;
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;
 }
.bb-pagination a:hover { padding:5px; color:#999999; 
	border:solid 1px #cccccc;
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; }

.field { margin:0; padding:0; background-color:#ffffff; border-bottom:solid 1px #eeeeee; padding:5px; font-size:11px;}
.fields { margin:0; padding:0; background-color:#f9f9f9; border-bottom:solid 1px #eeeeee; padding:5px; font-size:11px;}
.field-title { float:left; width:28%; margin-right:10px;} 
.field-info { float:right; width:69%; } 
.fields a { color:#2b588d; text-decoration:none; }
.fields a:hover { color:#cccccc; text-decoration:none; }

.fieldpage { margin:0; padding:0; background-color:#ffffff; border-bottom:solid 1px #eeeeee; padding:5px; font-size:11px;}
.fieldspage { margin:0; padding:0; background-color:#f9f9f9; border-bottom:solid 1px #eeeeee; padding:5px; font-size:11px;}
.fieldpage-title { float:left; width:19%; margin-right:10px; padding:5px 0 0 5px; font-size:11px;} 
.fieldpage-info { float:right; width:79%;} 
.fieldpage-info ul { margin:0; padding:0; list-style:none; }
.fieldpage-info ul li { display:block; float:left; margin-right:10px; }
.fieldspage a { color:#2b588d; text-decoration:none; }
.fieldspage a:hover { color:#cccccc; text-decoration:none; }

.box-items { padding:10px; margin:0; color:#ffffff; text-transform:uppercase;}
.box-items a { color:#ffffff; }
.box-items a:hover { color:#cccccc; }
.boxitems-info {
	border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#f0f1f2; color:#666666;
	width:37.1%; float:left; text-align:center; margin:0 5px 10px 5px; padding:10px; font-size:10px;
}
.boxitems-info h3 { margin:0; padding:0; font-size:16px; line-height:16px; color:#6086b2;}

.boxitems-infodue {
	border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#1c5fb9;
	width:37.1%; float:left; text-align:center; margin:0 5px 10px 5px; padding:10px; font-size:10px;
}
.boxitems-infodue h3 { margin:0; padding:0; font-size:16px; line-height:16px;}

.boxitems-infosuspend {
	border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#159dbe;
	width:37.1%; float:left; text-align:center; margin:0 5px 10px 5px; padding:10px; font-size:10px;
}
.boxitems-infosuspend h3 { margin:0; padding:0; font-size:16px; line-height:16px; }

.boxitems-infoseries {
	border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#710000; 
	width:37.1%; float:left; text-align:center; margin:0 5px 10px 5px; padding:10px; font-size:10px;
}
.boxitems-infoseries h3 { margin:0; padding:0; font-size:16px; line-height:16px;}

.boxitems-infodone {
	border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#598a0b; 
	width:37.1%; float:left; text-align:center; margin:0 5px 10px 5px; padding:10px; font-size:10px;
}
.boxitems-infodone h3 { margin:0; padding:0; font-size:16px; line-height:16px;}

.boxitems-infoon {
	border:solid 1px #dae1e8; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd; background-color:#03070b; 
	width:37.1%; float:left; text-align:center; margin:0 5px 10px 5px; padding:10px; font-size:10px;
}
.boxitems-infoon h3 { margin:0; padding:0; font-size:16px; line-height:16px;}
.tip {
	color: #000;
	background:#f0f1f2;
	display:none;
	padding:10px;
	position:absolute; z-index:1000;
	margin-top:-50px;
	border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; box-shadow:0px 0px 8px #ddd; -webkit-box-shadow:0px 0px 8px #ddd; -moz-box-shadow:0px 0px 8px #ddd; -ms-box-shadow:0px 0px 8px #ddd; -o-box-shadow:0px 0px 8px #ddd;
	border:solid 1px #dae1e8;
	line-height:16px;
}

.due-date { background-color:#1c5fb9; padding:2px 5px 2px 5px; color:#ffffff; font-weight:bold; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; }

.finish { background-color:#598a0b; padding:2px 5px 2px 5px; color:#ffffff; font-weight:bold; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; }

.on-progress { background-color:#03070b; padding:2px 5px 2px 5px; color:#ffffff; font-weight:bold; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; }

.suspend { background-color:#159dbe; padding:2px 5px 2px 5px; color:#ffffff; font-weight:bold; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; }
.series { background-color:#710000; padding:2px 5px 2px 5px; color:#ffffff; font-weight:bold; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; }
.pilih_file { padding:5px; border: solid 1px #cccccc; margin:5px 0 5px 0;}