#keywords {
  margin: 0 auto;
  font-size: 1.2em;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  
}
#keywords thead tr th span { 
  background-repeat: no-repeat;
  background-position: 100% 65%;
  padding-right:20px;
}


#keywords thead tr th.headerSortUp span {
  background-image: url('../images/desc.png');
  background-repeat:no-repeat;
}
#keywords thead tr th.headerSortDown span {
  background-image: url('../images/asc.png');
  background-repeat:no-repeat;
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td.lalign {
  text-align: left;
}