@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: RalewayBold;
    src: url(../fonts/Raleway-Bold.ttf);
}
body {
	margin:0;
	padding:0;
	background:#ffffff;
	font-size:14px;
	font-family: "RalewayRegular";
	color:#000000;
}

.blue { color:#0077c2; }
.no-margin { margin:0; padding:0; }
:focus { outline:none; }
#back-top,
#backs-top {
	position: absolute;
    top: 18px;
    left: 18px;
}

/* =================================== HEADER =================================== */
#header { margin:0; padding:0; position:fixed; width:100%; z-index:99999; background:#ffffff;}
.header-top { margin:0; padding:0; }
.header-top-content { margin:0 Auto; width:1100px; padding:10px 0 10px 0; }
.htc-right { text-align:right; padding:15px 0 0 0; }
.htc-right ul { margin:0; padding:0; list-style:none; }
.htc-right ul li { display:inline-block; border-right:solid 1px #888888; padding:3px 15px 3px 15px; font-family:"RalewayBold";}
.htc-right ul li a { color:#000000; }
.htc-right ul li a:hover { color:#0077c2; text-decoration:none; }
.htc-right .last { border-right:0; }
.htc-right input[type="text"] {
	border:none;
	font-family: "RalewayRegular";
	width:100px;
}
.htc-right button {
	background:none;
	border:none;
	color:#0077c2;
}
.header-bottom { background:#000000; margin:0; padding:5px 0 5px 0; }
.header-bottom-menu { margin:0 Auto; width:1100px; text-align:center; }
.header-bottom-menu ul { margin:0; padding:0; list-style:none; }
.header-bottom-menu ul li { display:inline-block; border-right:solid 1px #ffffff; padding:2px 35px 2px 35px; font-family: "RalewayBold"; font-size:12px; text-transform:uppercase; }
.header-bottom-menu .last { border:none; }
.header-bottom-menu ul li a { color:#ffffff; }
.header-bottom-menu ul li a:hover { color:#0077c2; text-decoration:none; }

.header-mobile { padding:8px 0 8px 0; text-align:center; }
.header-mobile-menu { position:absolute; background: #ffffff; width:200px; left:-200px; border:solid 1px #cccccc; padding:20px 20px 20px 30px; z-index:9999;}
.header-mobile-menu ul { margin:0; padding:0; list-style:none; }
.header-mobile-menu ul li { display:block; padding:2px 0 13px 0; }
.header-mobile-menu ul li a { color:#414141; }
.header-mobile-menu ul li a:hover { color:#414141; font-weight:bold; text-decoration:none; }

#header ul.submenu {
	position: absolute;
	z-index: 100;
	margin: 0;
	width: 200px;
	background: rgba(0,0,0,1.0);
	padding: 10px 0 10px 0;
	display: none;
    margin-left: -40px;
}
#header .header-bottom-menu ul li:hover .submenu
{
	display: block;
}
#header ul.submenu li {
	border: none;
	width: 150px;
	text-align: left;
	padding: 5px 0 5px 0;
}
#header ul.submenu li a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 0;
	background: none;
	font-size: 11px;
}
#header ul.submenu li a:hover {
	background: none;
	text-decoration: underline;
}

.header-mobile-menu ul li ul li {
	padding:0 0 0 20px;
	font-size:13px;
}

/* =================================== CONTENT =================================== */

.content-who { margin:0; padding:30px 0 30px 0; }
.content-who-content { margin:0 Auto; width:600px; text-align:center;}
.content-who-content h1 {  margin:0 Auto; padding:0 0 10px 0; text-align:center; border-bottom:solid 2px #0077c2; width:200px; margin-bottom:30px; font-size:15px; font-family: "RalewayBold"; color:#000000; text-transform:uppercase; }
.content-who-text { line-height:18px; }
.content-who-info { padding:15px 0 0 0; }
.content-who-info a { color:#0077c2; font-size:25px; }

.content-ourproduct { margin:0; padding:30px 0 30px 0; background:#ebebeb; }
.content-ourproduct-content { margin:0 Auto; width:1100px; }
.content-ourproduct-content h1 { margin:0 Auto; padding:0 0 10px 0; text-align:center; border-bottom:solid 2px #0077c2; width:200px; margin-bottom:30px; font-size:15px; font-family: "RalewayBold"; color:#000000; text-transform:uppercase; }
.product-items-home { text-align:center; }
.product-items-home h2 { margin:0; padding:15px 0 15px 0; font-size:17px; font-family: "RalewayBold"; text-transform:uppercase; }
.pih-text { min-height:54px; }
.pih-button { margin:20px 0 0 0; padding:10px 0 10px 0; }
.pih-button a {color:#000000; }
.pih-button button { background:none; border:solid 2px #0077c2; border-radius:5px; padding:7px 20px 5px 20px; text-transform:uppercase; font-family:"RalewayBold"; font-size:12px;}


.content-ourservices { margin:0; padding:30px 0 0px 0; }
.content-ourservices-content { margin:0 Auto; width:960px; }
.content-ourservices-content h1 { margin:0 Auto; padding:0 0 10px 0; text-align:center; border-bottom:solid 2px #0077c2; width:200px; margin-bottom:30px; font-size:15px; font-family: "RalewayBold"; color:#000000; text-transform:uppercase; }
.otherservices-items { background:#0077c2; border-radius: 0 0 10px 10px; }
.otherservices-items h3 { font-size:12px; padding:0px 20px 10px 20px; color:#ffffff; text-decoration:none; margin:0; height:40px; text-transform:uppercase; font-family: "RalewayBold";}
.otherservices-items p { font-size:12px; height:100px; font-family:"Myriad Pro"; font-weight:normal; padding:10px; line-height:12px; color:#ffffff; }


.content-ournews { margin:0; padding:30px 0 30px 0; background:#ebebeb;}
.content-ournews-content { margin:0 Auto; width:960px; }
.content-ournews-content h1 { margin:0 Auto; padding:0 0 10px 0; text-align:center; border-bottom:solid 2px #0077c2; width:200px; margin-bottom:30px; font-size:15px; font-family: "RalewayBold"; color:#000000; text-transform:uppercase; }


.content-ourpartner { margin:0; padding:30px 0 30px 0; background: url('../images/bg-partners.jpg') no-repeat center center; background-size:100%; }
.content-ourpartner-content { text-align:center; color:#ffffff; margin:0 Auto; width:1100px; }
.content-ourpartner-content h1 { border-bottom:solid 2px #ffffff; margin:0 Auto; padding:10px 0 10px 0; margin-bottom:20px; width:200px; text-transform:uppercase; font-size:15px; font-family: "RalewayBold"; }

.content-partners { margin:0 Auto; width:1100px; padding:25px 0 25px 0; text-align:center;}
.content-partners ul { margin:0; padding:0; list-style:none; }
.content-partners ul li { display:inline-block;  margin:10px;} 

.content-clients { margin:0; padding:0; }
.content-clients-top { background:url('../images/bg-clients.jpg') no-repeat center center; background-size:100%; padding:20px 0 70px 0; }
.content-clients-top h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#ffffff; text-transform:uppercase; text-align:center; background: url('../images/bar-clients.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.content-client-text { margin:0 Auto; padding:60px 0 40px 0; margin-bottom:20px; width:1100px; text-align:center; color:#7d7d7d; background:url('../images/bar-blue-clients.jpg') no-repeat bottom center; }

.content-client-items { margin:0 Auto; width:960px; padding:0 0 100px 0; }
.cci-menu ul { margin:40px 0 0 0; padding:0; list-style:none; }
.cci-menu ul li { display:block; padding:10px 0 5px 0; margin-bottom:15px; text-transform:uppercase; font-family:"RalewayBold"; }
.cci-menu ul li:hover { background:url('../images/bar-clients-hover.jpg') no-repeat bottom left; }
.cci-menu ul li a { color:#7d7d7d; }
.cci-menu ul li a:hover { color:#000000; text-decoration:none; }
.cci-menu .active { padding-bottom:5px; background:url('../images/bar-clients-hover.jpg') no-repeat bottom left; }
.cci-logo ul { margin:0; padding:0; list-style:none; }
.cci-logo ul li { display:block; border:solid 0px #cccccc; text-align:center; width:228px; float:left; margin:6px;}
.cci-logo ul li img { width:220px; }

.content-about { margin:0; padding:0; }
.content-about-top { background:url('../images/bg-about.jpg') no-repeat center center; background-size:100%; padding:20px 0 70px 0; }
.content-about-top h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#ffffff; text-transform:uppercase; text-align:center; background: url('../images/bar-clients.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.content-about-text { margin:0 Auto; width:800px; text-align:center; padding:20px 0 20px 0; }
.cat-logo { background: url('../images/bar-blue-about.jpg') no-repeat bottom center; padding-bottom:20px; margin-bottom:10px;}
.cat-info { font-size:13px; line-height:16px; padding:20px 0 20px 0; }
.cat-info h3 { text-align:left; border-bottom:dotted 1px #cccccc; font-size:18px; padding-bottom:10px;}
.cat-info ul { margin:0 0 0 20px; padding:0; }
.cat-info ul li {text-align:left;}
.cat-info ul li a { color:#000000; }
.cat-info ul li a:hover { text-decoration:underline; }
.search-left { padding-right:5px;}
.search-right { padding-left:5px;} 

.content-about-coverage { background:url('../images/bg-about-coverage.jpg') no-repeat center center; background-size:100%; padding:20px 0 70px 0; }
.content-about-coverage h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#ffffff; text-transform:uppercase; text-align:center; background: url('../images/bar-clients.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.content-coverage-text { padding:50px 0 50px 0; background:#ebebeb; }
.content-coverage-text-content { margin:0 Auto; width:800px; text-align:center; line-height:16px; font-size:13px; }

.content-about-sister { background: #ffffff; padding:0px 0 50px 0; }
.content-about-sister h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#000000; text-transform:uppercase; text-align:center; background: url('../images/bar-blue-about.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.sister-company { margin:0 Auto; width:880px; padding:30px 0 0 0; }
.sister-company ul { margin:0; padding:0; list-style:none; }
.sister-company ul li { display:block; float:left; width:200px; height:305px; padding:10px; margin:10px; border: solid 3px #0077c2; border-radius:10px; text-align:center; }
.sister-company ul li img { width:150px; }
.sister-company ul li hr { height:3px; margin:7px 0 7px 0; background:#0077c2; }
.sci-text h2 { color:#000000; font-family: "RalewayBold"; font-size:20px;}

.content-contact { margin:0; padding:0; }
.content-contact-top { background:url('../images/bg-contact.jpg') no-repeat center center; background-size:100%; padding:20px 0 70px 0; }
.content-contact-top h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#ffffff; text-transform:uppercase; text-align:center; background: url('../images/bar-clients.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }

.content-contact-form { margin:0 Auto; width:960px; padding:50px 0 30px 0; }
.content-contact-form input[type="text"],
.content-contact-form input[type="email"],
.content-contact-form textarea {
	width:90%;
	background:#d7d7d7;
	color:#7d7d7d;
	padding:10px 10px 8px 10px;
	border:none;
	margin-bottom:10px;
	font-family:"RalewayBold";
	font-size:13px;
	border-radius:5px;
}
.content-contact-form input[type="submit"] {
	margin-right:50px;
	color:#000000;
	text-transform:uppercase;
	border:solid 2px #0072c6;
	background:none;
	padding:10px 25px 7px 25px;
	font-size:12px;
	font-family:"RalewayBold";
	border-radius:15px;
}
.content-contact-form h1 {
	margin:0 0 30px 0;
	padding:0 0 15px 0;
	color:#595858;
	text-transform:uppercase;
	font-size:20px;
	text-align:center;
	font-family:"RalewayBold";
	background: url('../images/bar-blue-about.jpg') no-repeat bottom center;
	letter-spacing:3px;
}
.contact-form-address { margin:10px 0 0 50px; }
.contact-form-phone { margin:0 0 0 50px; }
.contact-form-email {
	margin:0 0 20px 50px;
}
.contact-form-address ul, .contact-form-phone ul, .contact-form-email ul { margin:0; padding:0; list-style:none; }
.contact-form-address ul li, .contact-form-phone ul li, .contact-form-email ul li { display:block; float:left; padding:10px 25px 10px 10px; font-family: "RalewayBold"; font-size:12px; text-align:left; letter-spacing:1px; border:solid 0px #cccccc; }
.contact-form-phone .padding-medium { padding-top:18px; }
.contact-form-email .padding-center { padding-top:26px; }
.contact-form-email a { color:#000000; }

#map { width:100%; height:500px; margin-bottom:50px; border:solid 1px #cccccc;}

.content-services { margin:0; padding:0; }
.content-services-top { background:url('../images/bg-services.jpg') no-repeat center center; background-size:100%; padding:20px 0 70px 0; }
.content-services-top h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#ffffff; text-transform:uppercase; text-align:center; background: url('../images/bar-clients.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }

.content-services-text { margin:0 Auto; width:960px; padding:50px 0 50px 0; }
.cst-left ul { margin:0px 0 0 0; padding:0; list-style:none; }
.cst-left ul li { display:block; padding:10px 0 5px 0; margin-bottom:5px; font-size:13px; text-transform:uppercase; font-family:"RalewayBold"; }
.cst-left ul li:hover { background:url('../images/bar-clients-hover.jpg') no-repeat bottom left; }
.cst-left ul li a { color:#7d7d7d; }
.cst-left ul li a:hover { color:#000000; text-decoration:none; }
.cst-left .active { padding-bottom:5px; background:url('../images/bar-clients-hover.jpg') no-repeat bottom left; }
.cst-right h3 { margin:0; padding:25px 0 20px 0; font-size:14px; font-family: "RalewayBold"; text-transform:uppercase;}
.cst-right-text { font-size:12px; }

.content-news { margin:0; padding:0; }
.content-news-top { background:url('../images/bg-news.jpg') no-repeat center center; background-size:100%; padding:20px 0 70px 0; }
.content-news-top h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#ffffff; text-transform:uppercase; text-align:center; background: url('../images/bar-clients.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.content-news-list { margin:0 Auto; width:960px; padding:50px 0 50px 0;}
.cnlist-items { font-size:13px; padding:15px; }
.cnlist-items-gray { font-size:13px; padding:15px; background:#f3f3f3; }
.cnlist-items-no { font-size:13px; padding:15px; }
.cnlist-items h1, .cnlist-items-gray h1, .cnlist-items-no h2 { margin:0; padding:0 0 5px 0; text-transform:uppercase; font-size:12px; font-family: "RalewayBold"; }
.cnlist-items button, .cnlist-items-gray button { padding:8px 20px 6px 20px; background:none; font-family: "RalewayBold"; text-transform:uppercase; border:solid 1px #0072c6; border-radius:15px; margin-top:20px; }
.cnlist-items-no button { padding:8px 20px 6px 20px; background:none; font-family: "RalewayBold"; text-transform:uppercase; border:solid 1px #0072c6; border-radius:15px; }
.cnlist-items-no p { line-height:15px; font-size:12px; }
.cnlist-items a, .cnlist-items-gray a { color:#000000; }
.cnlist-pagination { text-align:right; padding:20px 0 0 0; }
.cnlist-pagination a { padding:7px 10px 6px 10px; background:#d7d7d7; color:#000000; font-family:"RalewayBold"; font-size:11px; text-transform:uppercase;}
.cnlist-pagination a:hover { background:#39a2ef; text-decoration:none; color:#ffffff;}
.cnlist-pagination strong { padding:7px 10px 6px 10px; background:#39a2ef; text-decoration:none; color:#ffffff; font-family:"RalewayBold"; font-size:11px; text-transform:uppercase; }


.content-newsdetail-content { margin:0 Auto; width:960px; padding:50px 0 50px 0; }
.content-newsdetail-content h1 { margin:0 0 50px 0; padding:0px 0 20px 0; font-size:20px; color:#000000; text-transform:uppercase; text-align:center; background: url('../images/bar-blue-about.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.cnewsdetail-text { font-size:12px; text-align:justify;}
.cnewsdetail-text img { width:500px; float:left; padding:0 40px 30px 0; }

.content-newsdetail-othernews { background:#ebebeb; padding:50px 0 0px 0; margin-bottom:50px; }
.cnothernews-text { margin:0 Auto; width:960px; }
.cnothernews-text h1 { margin:0 0 20px 0; padding:0px 0 15px 0; font-size:20px; color:#000000; text-transform:uppercase; text-align:center; background: url('../images/bar-blue-about.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.othernews-items { background:#0077c2; border-radius: 0 0 10px 10px; }
.othernews-items h3 { font-size:11px; padding:10px 20px 10px 20px; color:#ffffff; text-decoration:none; margin:0; height:70px; text-transform:uppercase; font-family: "RalewayBold";}


.content-procurement { margin:0; padding:0; }
.content-procurement-top { background:url('../images/bg-procurement.jpg') no-repeat center center; background-size:100%; padding:20px 0 70px 0; }
.content-procurement-top h1 { margin:0; padding:50px 0 20px 0; font-size:24px; color:#ffffff; text-transform:uppercase; text-align:center; background: url('../images/bar-clients.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }

.content-procurement-text { margin:0 Auto; width:650px; padding:50px 0 50px 0; text-align:center; }

.content-procurement-module { margin:0; padding:50px 0 50px 0; }
.procurement-module-content { margin:0 Auto; width:960px; }
.procurement-module-content h1 { margin:0 0 20px 0; padding:0px 0 15px 0; font-size:20px; color:#000000; text-transform:uppercase; text-align:center; background: url('../images/bar-blue-about.jpg') no-repeat bottom center; font-family: "RalewayBold"; letter-spacing:1px; }
.procurement-module-content ul { margin:40px 0 0 0; padding:0; list-style:none; }
.procurement-module-content ul li { display:block; float:left; width:320px; height:320px; font-size:13px; text-align:center; padding:10px 20px 10px 20px; margin-bottom:20px;}
.procurement-module-content ul li img { width:150px; }
.procurement-module-content ul li h3 { margin:0; padding:20px 10px 10px 10px; font-size:14px; font-family: "RalewayBold"; text-transform:uppercase; }

.content-procurement-info { margin:0; padding:0; background:#ebebeb; }
.procurement-info-content { margin:0 Auto; width:960px; }
.e-procurement { padding:20px 0 20px 50px; }
.e-procurement h4 { color:#000000; font-family: "RalewayBold"; }
.e-procurement ul li { font-size:13px; padding:3px 0 3px 0; }

.e-procurements { padding:20px 0 20px 20px; }
.e-procurements li { font-size:13px; padding:3px 0 3px 0; }
.e-procurements h4 { color:#000000; font-family: "RalewayBold"; }

.content-xbrl { margin:0 auto; width:960px; padding:150px 0 150px 0;}
.content-xbrl h1 { text-transform:uppercase; font-size:40px; font-family: "RalewayBold"; color:#0077c2;}
.content-xbrl p { color:#000000; font-family: "RalewayBold"; }

.content-gallery { margin:0; padding:0; }
.content-gallery-content { margin:0 Auto; width:960px; padding:50px 0 35px 0;}
.content-gallery-content ul { margin:0; padding:0; list-style:none; }
.content-gallery-content ul li { display:inline-table; width:227px; margin-left:5px; margin-right:5px; margin-bottom:15px;}
.content-gallery-content h3 { text-align:center; padding-top:8px; font-size:12px;}
.content-gallery-content h3 a { color:#ffffff; }
.content-gallery-content h2 { text-align:center; padding-top:0px; font-size:14px; font-weight:bold;color:#000000;}
.gallery-desc { border:dotted 1px #efefef; padding:10px; font-size:12px; height:70px; overflow-y: scroll; overflow-x:hidden; }

/* =================================== FOOTER =================================== */
#footer { margin:0; padding:0; font-size:14px; }
#footer .footer-top { background:#ebebeb; padding:20px 0 20px 0; }
#footer .footer-top-content { margin:0 Auto; width:1100px; text-align:center;}
#footer .footer-top-content .footer-logo { margin:0 0 20px 0; }
#footer .footer-top-content h2 { margin:0 Auto; width:200px; border-bottom:solid 2px #0077c2; padding:10px 0 10px 0; margin-bottom:20px; font-size:15px; text-transform:uppercase; font-family: "RalewayBold";}
#footer .footer-top-navigation { padding:0; margin:20px 0 20px 0; }
#footer .footer-top-navigation ul { margin:0; padding:0; list-style:none; }
#footer .footer-top-navigation ul li { display: inline-block; padding:10px 25px 10px 25px;}
#footer .footer-top-navigation ul li a { color:#000000; }
#footer .footer-top-navigation ul li a:hover { color:#0077c2; text-decoration:none; }
#footer .footer-top-contact { padding:0; margin:0 0 20px 0; }
#footer .footer-top .footer-top-contact a { color:#000000; }
#footer .footer-top .footer-top-contact a:hover { color:#0077c2; text-decoration:none;}
#footer .footer-top-partner { padding:20px 0 15px 0; }
#footer .footer-bottom { background:#000000; color:#ffffff; padding:5px 0 6px 0; text-align:center; }

#footer ul.submenu {
	position: absolute;
	z-index: 100;
	margin: 0;
	width: 170px;
	background: rgba(0,0,0,1.0);
	padding: 10px 0 10px 0;
	display: none;
    margin-left: -40px;
}
#footer .footer-top-navigation ul li:hover .submenu
{
	display: block;
}
#footer ul.submenu li {
	border: none;
	width: 150px;
	text-align: left;
	padding: 5px 0 5px 0;
}
#footer ul.submenu li a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 0;
	background: none;
	font-size: 11px;
}
#footer ul.submenu li a:hover {
	background: none;
	text-decoration: underline;
}
/* ================================================= OTHER ================================================= */
#small-logo {
	display:none;
	position: fixed;
	bottom: 15px;
	right: 50px;
	z-index:999999;
}